@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="background: url(https://i.pinimg.com/736x/c6/00/91/c60091e78af1bab1b6be78b68118454f.jpg); background-size:cover;  background-attachment: fixed;
  background-position: center;  ">
    <h1>Lista de Caminhões</h1>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.4.1/css/bootstrap.min.css">

    <table class="table table-dark">


        <tr>
            <th scope="col">id</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ano</th>
            <th scope="col">Cor</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>

        <thead>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.Caminhao)
            {
                <tr>
                    <th scope="row">@item.cam_id</th>
                    <td>@item.cam_modelo</td>
                    <td>@item.cam_ano</td>
                    <td>@item.cam_cor</td>

                    <td>
                        <a href="/Caminhao/Apagar/@item.cam_id" name="id" id="id" class="btn btn-danger">Apagar</a>
                    </td>

                    <td>
                        <a href="/Caminhao/Update/@item.cam_id" name="id" id="id" class="btn btn-primary">Atualizar</a>
                    </td>


                </tr>


            }

        </tbody>
    </table>

    <div class='d-flex justify-content-center align-items-center'>
        <a href='/Caminhao/create' class='btn btn-success'>Inserir</a>
    </div>
</body>
